* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  padding: 10px;
  background-color: bisque;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
nav ul li {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(210, 131, 28);
}
nav ul li:hover {
  transition: 0.2s;
  opacity: 0.5;
}
